<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>InspirePraise {% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'songs/bootstrap/css/bootstrap.css'%}" rel="stylesheet" type="text/css">
    <!-- <link href="{% static 'songs/bootstrap/css/sticky-footer.css'%}" rel="stylesheet" type="text/css"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'songs/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'songs/leaf1.png' %}">
    <script src="{% static 'songs/setlist_push.js' %}"></script>   
    <link href="{% static 'songs/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <style>
    html {
        overflow-y:scroll;
    }
    </style>
    {% block headloaders %}{% endblock %}
    
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="{% url 'songs.views.home' %}">InspirePraise</a>
        <ul class="nav navbar-nav">
        
            <li class="active"><a href="{% url 'songs.views.home' %}">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'songs.views.search_verses' %}">By Verses</a></li>
                    <li><a href="{% url 'songs.views.search_info' %}">By Song Info</a></li>
                    <li><a href="{% url 'songs.views.search_songs_with_chords' %}">Songs with Chords</a></li>
                </ul>
            </li>
            <li><a href="{% url 'songs.views.tag_verses' %}">Tag</a></li>
            <li><a href="{% url 'songs.views.lookup' %}">Add Song</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Set List <span class="badge nav_setlistnum">{{request.session.setlist|length}}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'songs.views.setlist' %}">Current Set List <span class="badge nav_setlistnum">{{request.session.setlist|length}}</span></a></li>
                    <li><a href="{% url 'songs.views.display_archived_setlist' %}">Archived Set Lists</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'songs.views.setlist' %}">Set List <span class="badge nav_setlistnum">{{request.session.setlist|length}}</span></a></li>
            {% endif %}
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'songs.views.login_user' %}">Login</a></li>
            <li><a href="{% url 'registration_register'%}">Register</a></li>
            {% else %}
            <li><p style="padding-top:15px; padding-right:10px;">
                Welcome <a href="{% url 'songs.views.profile' %}">{{user.email}}</a></p></li>
            <li><a href="{% url 'songs.views.logout_view' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
{% if request.session.pushed_setlist %}
    <div id="setlist-push-alert" class="alert alert-success fade in">
        <button type="button" id="setlist-push-alert-close" class="close" data-dismiss="alert" 
            aria-hidden="true">&times;</button>
        <h4>Awww Yeaaah! Someone has sent you a setlist!</h4>
        <div class="row">
            <div class="col-md-12">
                <p>
                Should you choose to accept the setlist, your current setlist will be archived.
                <br>If you reject it, you won't have the chance to get it back short of awkwardly asking the sender
                to resend it.
                </p>
            </div>
        </div>
        <ul class='list-group'>
            {% for setlist in request.session.pushed_setlist %}
            <li class="list-group-item list-group-item-success">
                <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            {{setlist.date}} - {{setlist.created_by}} 
                            {% if setlist.notes %} - {{setlist.notes}} {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for song in setlist.setlistsong_set.all %}
                                {% if forloop.last %}
                                    {{song.song}} ({{song.key}})
                                {%else %}
                                    {{song.song}} ({{song.key}}),
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success accept-setlist" name="{{setlist.id}}">Accept</button>
                    <button type="button" class="btn btn-default reject-setlist" name="{{setlist.id}}">Reject</button>
                </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}




{% block content %}
{% endblock %}


<div id="footer">
    <div class='container'>
    {% block footer %}
    <hr>
    <div class="col-md-4">
        <p class="text-muted">Copyright 2014 - InspirePraise</p>
    </div>
    {% endblock %}
    </div>
</div>

</body>
</html>