
{% if chapters %}
{% for chapter in chapters %}
    <option value="{{ chapter.id }}">Chapter {{ chapter.number }} </option>
{% endfor %}
{% endif %}


{% if verses %}
{% for verse in verses %}
    <option value="{{ verse.id }}">{{verse.book}} {{verse.chapter.number}}:{{ verse.number }} </option>
{% endfor %}
{% endif %}

{% if books %}
{% for book in books %}
    <option value="{{ book.order_index }}">{{book.name}} </option>
{% endfor %}
{% endif %}

{% if alpha %}
{% for letter in alpha %}
    <option value="{{letter}}">{{letter}}</option>
{% endfor %}
{% endif %}


{% if key_options %}
    {{options|safe}}
{% endif %}


{% if parse_test %}
    {% if parsable %}
        True
    {% else %}
        False
    {% endif %}
{% endif %}


{% if tag_search %}
<!-- THIS IS FOR TAGGING SONGS -->
    {% if newsongs %}
        {% if sug %}
        <div>Did you mean <a href='#' id="suggestion">{{sug}}</a>?</div>
        {% endif %}
        <script type="text/javascript">  
            Shadowbox.init({
                handleOversize: 'resize',
            });
            $(".clickable").click(function(){
                var ccli = $(this).parent().attr('id');
                var link = '/song-info-pop/'+ccli;
                Shadowbox.open({
                    content:    link,
                    player:     "iframe",
                    title:      "Song at a glance...",
                    //height:     350,
                    width:      600,

                });
            });
        </script> 
        
    <p>Search Results for "{{query}}":</p>
    <table class="table table-hover" id="songlisting">
        <thead>    
        <tr><th>Song Title</th><th>Authors</th><th></th></tr>
        </thead>
    {% for song in newsongs %}
        <tr class="song" id="{{song.object.ccli}}">
        <td class="clickable">{{song.object.title}}</td> 
        <td class="clickable">{{song.object.authors.all|join:', '}}</td> 
        <td><input type="button" name="{{song.object.ccli}}" value="Tag" class='form-control tag-button'></td> 
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="song_results_content">
        <p>No songs match your search criteria.</p>
        </div>
    {% endif %}
    
{% endif %}

{% if song_chords %}
    {% if multipage %}
    <ul class="pager">
        <li><a href="" id="slider-prev-top">Previous</a></li>
        <li><a href="" id="slider-next-top">Next</a></li>
        <!-- <li><a href="" id="try">Try</a></li> -->
    </ul>
    {% endif %}
    <ul class="bxslider">
        {% for song_html in song_chords %}
            <li><div>{{song_html | safe}}</div></li>
        {% endfor %}
    </ul>
    {% if multipage %}
    <ul class="pager">
        <li><a href="" id="slider-prev-bot">Previous</a></li>
        <li><a href="" id="slider-next-bot">Next</a></li>
    </ul>
    
    {% endif %}
{% endif %}


{% if archive_setlist %}
    <h3>
        {{archive_setlist.date}} <br>
    </h3>

    <ul class="list-group">
        {% if archive_setlist.notes %}
        <li class="list-group-item list-group-item-info">
            <h4 class="list-group-item-heading">Setlist Notes:</h4>
            <p class="list-group-item-text">{{archive_setlist.notes|linebreaksbr}}</p>
        </li>
        {% endif %}
    {% for setlist_song in setlist_songs %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-8">
                    {{setlist_song.song.title}}
                </div>
                <div class="col-md-2">
                    Key of {{setlist_song.key}}
                </div>
            </div>
            {% if setlist_song.notes %}
            <div class="row">
                <div class="col-md-12">
                    {{setlist_song.notes}}
                </div>
            </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endif %}
