{% if song_stats_details_profile %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="song-stats-label">
            {{song.title}} {% if profilesong%}- {{profilesong.profile.user.email}}{%endif%}</h4>
      </div>
      <div class="modal-body" id="song-stats-modal-body">
        <div class="row">
            <div class="col-md-12">
            {% if instance_detail_context %}
                <h4>Details on this usage:</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                        <div class="col-md-4">
                            {{instance_detail_context.0.date}}<br>
                            {% if ministry %}
                            <em><small>For {{ministry.name}}</small></em>
                            {%endif%}
                        </div>
                        <div class="col-md-8">
                            {{instance_detail_context.1}}
                        </div>
                                                
                        </div>
                    </li>
                </ul>
            {% endif %}
            {% if details_contexts_mins %}
                {% if not instance_detail_context or details_contexts_mins|length > 1 %}
                <div class="row">
                    <div class="col-md-12">
                        {% if profilesong %}
                        <h4>Details on your most recent past usages:</h4>
                        {% else %}
                        <h4>Details on the most recent past usages by others:</h4>                
                        {% endif %}
                    <ul class="list-group">
                    {% for detail, context, ministry in details_contexts_mins %}
                        <li class="list-group-item">
                            <div class="row">
                            <div class="col-md-4">
                            {{detail.date|date}}<br>
                            {% if ministry %}
                            <em><small>For {{ministry.name}}</small></em>
                            {% endif %}
                            </div>
                            <div class="col-md-8">
                             {{context}}
                            </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                    </div>
                </div>
                {% endif %}
            {% else %}
            <p class="alert alert-info">Nobody has used this song yet so there is no usage information. Be the first!</p>
            {% endif %}
            </div>
        </div>
        {% if percentages %}
        <h4>Stats on the keys used:</h4>
        <span class="help-block">Keys you've used:</em></span>
        {% for key, percentage in percentages %}
        <div class="row">
            <div class="col-md-1">
                <label class="pull-left">{{key}}</label>
            </div>
            <div class="col-md-11">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0"
                    aria-valuemax="100" style="width:{{percentage}}%;">{{percentage}}%</div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if global_percentages %}
        <span class="help-block">Keys others have used:</span>
        {% for gkey, gpercentage in global_percentages %}
        <div class="row">
            <div class="col-md-1">
                <label class="pull-left">{{gkey}}</label>
            </div>
            <div class="col-md-11">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{gpercentage}}" 
                    aria-valuemin="0" aria-valuemax="100" style="width:{{gpercentage}}%;">{{gpercentage}}%</div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
{% endif %}
{% if song_stats_details_ministry %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="song-stats-label">
            {{song.title}} {%if ministrysong %}- {{ministrysong.ministry.name}}{%endif%}</h4>
      </div>
      <div class="modal-body" id="song-stats-modal-body">

        <div class="row">
            <div class="col-md-12">
                {% if ministrysong %}
                <h4>Details on {{ministrysong.ministry.name}}'s most recent past usages:</h4>
                {% else %}
                <h4>Details on the most recent past usages by others:</h4>                
                {% endif %}

            <ul class="list-group">
            {% for detail, context in details_contexts %}
                <li class="list-group-item">
                    <div class="row">
                    <div class="col-md-3">
                    {{detail.date|date}}
                    </div>
                    <div class="col-md-9">
                     {{context}}
                    </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
        {% if percentages %}
        <h4>Stats on the keys used:</h4>
        <span class="help-block">Keys this ministry used:</span>
        {% for key, percentage in percentages %}
        <div class="row">
            <div class="col-md-1">
                <label class="pull-left">{{key}}</label>
            </div>
            <div class="col-md-11">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percentage}}" aria-valuemin="0"
                    aria-valuemax="100" style="width:{{percentage}}%;">{{percentage}}%</div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if global_percentages %}
        <span class="help-block">Keys others have used:</span>
        {% for gkey, gpercentage in global_percentages %}
        <div class="row">
            <div class="col-md-1">
                <label class="pull-left">{{gkey}}</label>
            </div>
            <div class="col-md-11">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{gpercentage}}" 
                    aria-valuemin="0" aria-valuemax="100" style="width:{{gpercentage}}%;">{{gpercentage}}%</div>
            </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
      </div>
{% endif %}