{% extends "base_home.html" %}

{% block content %}

<h1>Getting Started is Easy...</h1>

<!-- SHOULD TALK MORE ABOUT BENEFITS RATHER THAN FEATURES -->
<div class="row">
<div class='col-md-4'>
<h2>Step 1: Tag Songs</h2>
<p>The InspirePraise database collects data submitted by users about which songs are 
used for specific scripture passages. The more times a song is tagged to a verse, the higher
the song will appear when another user searches for songs based on that verse! InspirePraise is only
as good as your contributions make it so get tagging! <br> (<a href="#">Learn More...</a>)
</p>
</div>

<div class='col-md-4'>
<h2>Step 2: Search for Songs</h2>
<p>
InspirePraise allows you to search for songs based on specific verses. You are no longer limited to 
searching through preset theme categories that can be vague or inconsistent. The search will give
a list of songs that have been previously tagged with the same verses you searched for. <br> (<a href="#">Learn More...</a>)
</p>
</div>

<div class='col-md-4'>
<h2>Step 3: Worship</h2>
<p>
InspirePraise helps to streamline the process of song selection for your corporate musical worship time so you can
spend more time worshipping through music than worshipping through song selection! <br>
(<a href="#">Learn More...</a>)
</p>

</div>
</div>

{% endblock %}