{% extends "base.html" %}

{% block headloaders %}

    {% load staticfiles %}
    <script src="{% static 'songs/loading-buttons/spin.min.js' %}"></script> 
    <script src="{% static 'songs/loading-buttons/ladda.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'songs/loading-buttons/ladda-themeless.css' %}">
    <script type="text/javascript">  
        $(document).ready(function(){
            Ladda.bind('button[type=submit]');
            
        $("#songlisting tr:not(.song)").hide();
        $("#songlisting tr:first-child").show();
        
        $("#songlisting tr.song").click(function(){
            if ($(this).next("tr").is(":visible")){
                $(".details").hide();
            }
            else{
                $(".details").hide();
                $(this).next("tr").show();
            }

            $(this).find(".arrow").toggleClass("up");
        });

        });
    </script>  
{% endblock %}

{% block content %}
<h1>Search and Add Song through CCLI</h1>

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
{% endif %}


<form class="form-horizontal" role="form"> <!-- action="" method="get" -->
    <div class="form-group row">
        {% csrf_token %}
        
        <div class="col-md-5">
            <label class="sr-only" for="id_query">Enter Title, Authors, Lyrics, or CCLI Number</label>
            <input type="text" autocomplete="off" class="form-control" id="id_query" name="query" placeholder="Enter Title, Authors, Lyrics, or CCLI Number">

        </div>
        <div class="col-md-2">
            <select name='sort_type' class="form-control">
                <option value='relevance' selected>Relevance</option>
                <option value='popularity' >Popularity</option>
                <option value='CCLI Rank'>CCLI Rank</option>
            </select>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default ladda-button" data-style="zoom-in" 
                data-spinner-color="#fff">Search</button></div>
    </div>
    
</form>

<br>


{% if songs %}
    <p>Found {{songs|length }} song{{ songs|pluralize }}. <br>
    Number of songs added to database: {{num_new}}<br>
    Number of songs already present: {{num_old}}
    </p>
    
    <table class="table" id="songlisting">
    <thead>
    <tr><th>Title</th><th>Authors</th><th>CCLI</th></tr>
    </thead>
        {% for song in songs %}
        <tr class="song">
        <td>{{song.title}}</td> 
        <td>{{song.authors.all|join:', '}}</td> 
        <td>{{song.ccli}}</td> 
        </tr>
        
        <tr class="details">
        <td colspan=3>
            <a href="http://www.youtube.com/results?search_query={{song.title}}+{{song.authors.all.0}}" 
                target="_blank" title="Search Youtube"><img src="{% static 'songs/youtube-small.png'%}" width="45"/></a>
            <a href="http://www.ultimate-guitar.com/search.php?search_type=title&value={{song.title}}" 
                target="_blank" title="Search Ultimate Guitar"><img src="{% static 'songs/ultimateguitar-small.png'%}" /></a>
            <a href="http://worship-songs-resources.worshiptogether.com/search?w={{song.title}} {{song.authors.all.0}}" 
                target="_blank" title="Search WorshipTogether"><img src="{% static 'songs/worshiptogether-small.png'%}" /></a>
            <br>
            <br>
            <p><b>Copyright</b>: {% if song.publication_year != 1111 %}
                        {{song.publication_year}} 
                    {% endif %}    
                        {{song.publisher.all|join:', '}}</p>
            <p><b>Original Key:</b> {{song.original_key}}</p>
            <p><b>Key Line:</b> {{song.key_line}}</p>
        </td>
        {% endfor %}
    </table>
    
{% else %}
<!--     <p>No songs matched your search criteria.</p> -->
{% endif %}
{% endblock %}