
<head>
    {% load staticfiles %}
    <title>InspirePraise {% block title %}{% endblock %}</title>
    <link href="{% static 'songs/bootstrap/css/bootstrap.css'%}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'songs/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'songs/leaf1.png' %}">
    <script src="{% static 'songs/loading-buttons/dist/spin.min.js' %}"></script> 
    <script src="{% static 'songs/loading-buttons/dist/ladda.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'songs/loading-buttons/dist/ladda-themeless.min.css' %}">
    <style>
    html {
        overflow-y:scroll;
    }
    </style>
    <script type="text/javascript">  
        $(document).ready(function(){
            $("#songlisting tr:not(.song)").hide();
            $("#songlisting tr:first-child").show();
            
            $("#songlisting tr.song").click(function(){
                $(this).next("tr").toggle();
                $(this).find(".arrow").toggleClass("up");
            });
            
            Ladda.bind('button[type=submit]');

        });
    </script>  
    
    <script>
        //this loads in the query from the tag songs & verses page
        window.onload = loadFromParent;
        function loadFromParent() {
            var pathname = window.location.href;
            //if the pathname doesn't have query - meaning that it's the first time loading
            //then load value from parent
            if (pathname.indexOf('query') < 0){
                var input = $('#song_query', opener.document).val();
                $('#id_query').val(input);
            }
        }
    </script>
    
</head>
<body>
<div class="container">
   

    <h1>Search and Add Song through CCLI</h1>
    <p>
    Search for Title, Authors, Lyrics, or CCLI Number.
    </p>

{% if errors %}
    <ul>
    {% for error in errors %}
        <li style="color: red;">{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

<form class="form-horizontal" role="form">
    <div class="row">
        {% csrf_token %}
        
        <div class="col-sm-6">
            <label class="sr-only" for="id_query">Enter Title, Authors, Lyrics, or CCLI Number</label>
            <input type="text" autocomplete="off" class="form-control" id="id_query" name="query" value="{{query}}" placeholder="Enter Title, Authors, Lyrics, or CCLI Number">

        </div>
        <div class="col-sm-3">
            <select name='sort_type' class="form-control">
                <option value='relevance' selected>Relevance</option>
                <option value='popularity' >Popularity</option>
                <option value='CCLI Rank'>CCLI Rank</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="hidden" name="_popup" value="{{popup}}">
            <button type="submit" class="btn btn-default ladda-button" data-style="zoom-in" data-spinner-color="#5f8ee6">Search</button>
        </div>

    </div>
</form>

<br>


{% if songs %}

<div class="row">
    <p>The following {{songs|length }} song{{ songs|pluralize }} have been added to the song database! <br>
    If your song is in this list, you can <a href="javascript: self.close()">close</a> this window. <br>
    If this list doesn't have your song, search again using different terms or search method.
    
    </p>
</div>

<div class="row">

    <table id="songlisting" class='table'>
    <thead>
    <tr><th>Song Title</th><th>Authors</th></tr>
    </thead>
        {% for song in songs %}
        <tr class="song">
        <td>{{song.title}}</td> 
        <td>{{song.authors.all|join:', '}}</td> 
        </tr>
        
        <tr class="details">
        <td colspan=2>
            <p><b>Copyright</b>: {% if song.publication_year != 1111 %}
                        {{song.publication_year}} 
                    {% endif %}    
                        {{song.publisher.all|join:', '}}</p>
            <p><b>Original Key:</b> {{song.original_key}}</p>
            <p><b>Key Line:</b> {{song.key_line}}</p>

        </td> 
        </td>
        {% endfor %}
    </table>

</div>
    <script>
        //this is for refreshing the home page after new results are populated
        setTimeout(function(){
            //if the page loaded with with a query - meaning not opened for first time
            //then refresh the parent page.
            var pathname = window.location.href;
            if (pathname.indexOf('query') >= 0){
                var query = $('#id_query').val();
                $('#song_query', opener.document).val(query);
                $('#search_songs', opener.document).trigger('click');
            }
            
        },1000);
    </script>
{% else %}
<!--     <p>No songs matched your search criteria.</p> -->
{% endif %}
    
</div>

</body>

