<head>
    {% load staticfiles %}
    <title>InspirePraise {% block title %}{% endblock %}</title>
    <link href="{% static 'songs/bootstrap/css/bootstrap.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'songs/bootstrap/css/bootstrap-mods.css'%}" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'songs/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'songs/leaf1.png' %}">
    <script src="{% static 'songs/loading-buttons/spin.min.js' %}"></script> 
    <script src="{% static 'songs/loading-buttons/ladda.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'songs/loading-buttons/ladda-themeless.css' %}">
    
    <script>
        $(document).ready(function(){
            Ladda.bind('button[type=submit]');
                
            $("#songlisting tr:not(.song)").hide();
            $("#songlisting tr:first-child").show();
            
            $("#songlisting tr.song").click(function(){
                if ($(this).next("tr").is(":visible")){
                    $(".details").hide();
                }
                else{
                    $(".details").hide();
                    $(this).next("tr").show();
                }
            });

        });
    
    
        //this loads in the query from the tag songs & verses page
        window.onload = loadFromParent;
        function loadFromParent() {
            var pathname = window.location.href;
            //if the pathname doesn't have query - meaning that it's the first time loading
            //then load value from parent
            if (pathname.indexOf('query') < 0){
                var input = $('#song_query', opener.document).val();
                $('#id_query').val(input);
            }
        }
    </script>
    
</head>
<body>
<div class="container">
   <div class="row">
    <div class="col-sm-12">

    <h1>Search and Add Song through CCLI</h1>
    <p>
    Search for Title, Authors, Lyrics, or CCLI Number.
    </p>

{% if errors %}
    {% for error in errors %}
        <div class="alert alert-danger">{{ error|escape }}</div>
    {% endfor %}
{% endif %}
    </div>
   </div>

<div class="row">
<div class="col-sm-12">
<form class="form-horizontal" role="form">
    <div class="row">
        {% csrf_token %}
        
        <div class="col-sm-6">
            <label class="sr-only" for="id_query">Enter Title, Authors, Lyrics, or CCLI Number</label>
            <input type="text" autocomplete="off" class="form-control" id="id_query" name="query" value="{{query}}" placeholder="Enter Title, Authors, Lyrics, or CCLI Number">

        </div>
        <div class="col-sm-3">
            <select name='sort_type' class="form-control">
                <option value='relevance' selected>Relevance</option>
                <option value='popularity' >Popularity</option>
                <option value='CCLI Rank'>CCLI Rank</option>
            </select>
        </div>
        <div class="col-sm-3">
            <input type="hidden" name="_popup" value="{{popup}}">
            <button type="submit" class="btn btn-default ladda-button" data-style="zoom-in" 
                data-spinner-color="#fff">Search</button>
        </div>
    </div>

</form>
</div>
</div>



{% if songs %}

<div class="row">
    <div class="col-sm-12">
    <p>The following {{songs|length }} song{{ songs|pluralize }} have been added to the song database! <br>
    If your song is in this list, you can <a href="javascript: self.close()">close</a> this window. <br>
    If this list doesn't have your song, search again using different terms or search method.
    </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
    <table id="songlisting" class='table'>
    <thead>
    <tr><th>Title</th><th>Authors</th></tr>
    </thead>
        {% for song in songs %}
        <tr class="song">
        <td>{{song.title}}</td> 
        <td>{{song.authors.all|join:', '}}</td> 
        </tr>
        
        <tr class="details">
        <td colspan=2>
            <p><b>Copyright</b>: {% if song.publication_year != 1111 %}
                        {{song.publication_year}} 
                    {% endif %}    
                        {{song.publisher.all|join:', '}}</p>
            <p><b>Original Key:</b> {{song.original_key}}</p>
            <p><b>Key Line:</b> {{song.key_line}}</p>

        </td> 
        </td>
        {% endfor %}
    </table>
    </div>
</div>

<script>
    //this is for refreshing the home page after new results are populated
    setTimeout(function(){
        //if the page loaded with with a query - meaning not opened for first time
        //then refresh the parent page.
        var pathname = window.location.href;
        if (pathname.indexOf('query') >= 0){
            var query = $('#id_query').val();
            $('#song_query', opener.document).val(query);
            $('#search_songs', opener.document).trigger('click');
        }
    },1000);
    
</script>
{% else %}
<!--     <p>No songs matched your search criteria.</p> -->
{% endif %}
    
</div>

</body>

