{% extends "base.html" %}
{% load staticfiles %}
{% block headloaders %} 
<script src="{% static 'songs/profile.js' %}"></script>

{% endblock %}

{% block content %}
<h1>Welcome {{user.email}}</h1>

{% if messages %}
{% for message in messages %}
    {% if message.level < 26 %}
    <div class="alert alert-success">
        {{ message }} 
    </div>
    {% endif %}
    {% if message.level > 26 %}
    <div class="alert alert-warning">
        {{ message }} 
    </div>
    {% endif %}
{% endfor %}
{% endif %}

<div class="row">
    <hr>
    <div class="col-md-12">
        <a class="btn btn-default" href="{% url 'songs.views.edit_profile' %}">Edit Profile</a>
        <a class="btn btn-default" href="{% url 'auth_password_change' %}">Change Password</a>
        <a class="btn btn-default" href="{% url 'songs.views.add_ministry' %}">Create New Ministry</a>
    </div>
</div>
<div class='row'>
    <div class="col-md-5">
        <h2>Basic Information</h2>
        <p>
            First Name: {{user.first_name}} <br>
            Last Name: {{user.last_name}} <br>
            Email: {{user.email}} <br>
        </p>
            
        {% if profile.ministries.all %}
        <h2>Ministries</h2>
            {% for ministry in profile.ministries.all %}
                <a class="btn btn-default" style="margin-bottom:5px" 
                    href="{% url 'songs.views.ministry_profile' ministry.id %}">{{ministry.name}}</a>  
            {% endfor %}
        {% endif %}

    </div>
    <div class="col-md-7">
        <h2>Profile</h2>
        <p>
        Number of Songs tagged: {{profile.num_song_tags}}<br>
        Number of Verses tagged: {{profile.num_verse_tags}}<br>
        </p>
    <p class="alert alert-info">
    The stats above show how many songs and verses you've tagged together! The more you tag, the better this site will work for you and
    for all other users. Please contribute to the worship community by tagging verses with songs that work well with them!
    </p>
    </div>
</div>

<div class="row">
<div class="col-md-5">
    {% if recent_songs %}
    <h2>Recently used Songs</h2>
        {% for recent_song in recent_songs %}
        <button type="button" class="btn btn-default common-songs-details" data-toggle="modal" style="margin-bottom:5px"
            data-target="#song-stats-details" name="{{recent_song.song.ccli}}">
        {{recent_song.last_used|date}} - {{recent_song.song.title|truncatechars:35}} 
        </button>
        {% endfor %}

    {% endif %}
</div>
<div class="col-md-7">
    {% if common_songs %}
    <h2>Commonly used Songs</h2>
        {% for common_song in common_songs %}
        <button type="button" class="btn btn-default common-songs-details" data-toggle="modal" style="margin-bottom:5px"
            data-target="#song-stats-details" name="{{common_song.song.ccli}}">
            {{common_song.song.title|truncatechars:35}} ({{common_song.times_used}})
        </button>
        {% endfor %}
    {% endif %}
</div>
</div>

<!-- modal for song details -->
<div class="modal fade" id="song-stats-details" tabindex="-1" role="dialog" 
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}