{% extends "base.html" %}

{% load staticfiles %}
{% block headloaders %} 

<script type="text/javascript" src="{% static 'songs/tag_verses.js' %}"></script>
<link href="{% static 'songs/spinner.css'%}" rel="stylesheet" type="text/css">
<script src="{% static 'songs/pnotify/jquery.pnotify.min.js' %}"></script>
<link href="{% static 'songs/pnotify/jquery.pnotify.default.css' %}" media="all" rel="stylesheet" type="text/css" />
<link href="{% static 'songs/pnotify/jquery.pnotify.default.icons.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'songs/bootstrap/js/typeahead.js' %}"></script>  
<link href="{% static 'songs/bootstrap/css/typeahead.js-bootstrap.css'%}" rel="stylesheet" type="text/css">
<script type="text/javascript">  
    $(document).ready(function(){
        $('form').submit(function(){
            $('.small_spin').attr('class', 'small_spinner');
        });
        
        $('#search').typeahead({
            local:["Genesis", "Exodus", "Leviticus", "Numbers", "Deuteronomy", "Joshua",
                    "Judges", "Ruth", '1 Samuel', '2 Samuel', '1 Kings', '2 Kings', 
                    '1 Chronicles', '2 Chronicles', 'Ezra', 'Nehemiah', 'Esther', 'Job',
                    'Psalm', 'Proverbs', 'Ecclesiastes', 'Song of Solomon', 'Isaiah',
                    'Jeremiah', 'Lamentations', 'Ezekiel', 'Daniel', 'Hosea', 'Joel',
                    'Amos', 'Obadiah', 'Jonah', 'Micah', 'Nahum', 'Habakkuk', 'Zephaniah',
                    'Haggai', 'Zechariah', 'Malachi', 'Matthew', 'Mark', 'Luke', 'John',
                    'Acts', 'Romans', '1 Corinthians', '2 Corinthians', 'Galatians', 
                    'Ephesians', 'Philippians', 'Colossians', '1 Thessalonians',
                    '2 Thessalonians', '1 Timothy', '2 Timothy', 'Titus', 'Philemon',
                    'Hebrews', 'James', '1 Peter', '2 Peter', '1 John', '2 John', '3 John',
                    'Jude', 'Revelation']
        });
    });
</script>  
{% endblock %}

{% block title %} | {{title}}{% endblock %}

{% block content %}
<h1>{{header1}}</h1>

Can't find your song? <a href="#" onclick="window.open('../lookup/?_popup=1', '_blank', 'height=500,width=800');">Import from CCLI</a>.
<br><br>

<div class="row">
    
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-7">
            <label class="sr-only" for="search">Enter Verses</label>
            <input class="form-control" type="text" name="verse_query" id="search" size='25' 
                placeholder="Enter Verses"/>
            </div>
            <div class="col-md-3">
                <input class="btn btn-default form-control" type="button" name="add_verses" value="Add" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <br>
                <p>Selected Scripture:</p>
                <div >
                    <table class="table" id='verse_results'>
                    </table>
                </div>
            </div>
        </div>
    </div>
    


    <div class='col-md-8'>
        <div class="row">
            <div class="col-md-9">
                <input class="form-control" type="text" name="song_query" id="song_query" 
                    placeholder="Enter Title, Authors, or Lyrics"> 
            </div>
            <div class="col-md-2">
                <input class="btn btn-default form-control" type="button" name="search_songs" 
                    id="search_songs" value="Search"> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div id='search_results'> 

                </div>
            </div>
        </div>
    </div>

</div>

<!-- song details modal -->
<div class="modal fade" id="song-details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="song-details-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
