Django==1.5.6
Markdown==2.6.2
MySQL-python==1.2.3
PIL==1.1.7
Pillow==2.6.1
South==1.0.1
argparse==1.2.2
beautifulsoup4==4.3.2
behave==1.2.3
cffi==0.8.6
coverage==3.6
cryptography==0.7
dj-database-url==0.3.0
django-admin-bootstrapped==2.3.1
django-aggregate-if==0.5
django-analytical==0.19.0
django-ckeditor-updated==4.4.4
django-classy-tags==0.5.2
django-cms==3.0.7
django-contrib-comments==1.5
django-cors-headers==1.1.0
django-debug-toolbar==1.2.2
django-email-usernames==1.0
django-endless-pagination==2.0
django-extensions==1.4.9
django-filter==0.11.0
django-haystack==2.1.0
django-mptt==0.6.1
django-registration==3.1.2
django-registration-email==0.7.1
django-reversion==1.7.1
django-simple-captcha==0.4.1
django-tagging==0.3.4
django-xmlrpc==0.1.5
djangocms-admin-style==0.2.4
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.1
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-installer==0.6.0
djangocms-link==1.5
djangocms-picture==0.1
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.2
djangocms-video==0.1
djangorestframework==3.2.4
easy-thumbnails==2.2
elasticsearch==0.4.4
enum34==1.0
geopy==1.6.1
html5lib==0.999
ipdb==0.8
ipython==2.3.1
mock==1.0.1
model-mommy==1.2
mutagen==1.27
parse==1.6.4
parse-type==0.3.4
paypalrestsdk==1.7.0
pbr==0.10.2
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pyelasticsearch==0.6.1
pyparsing==2.0.3
pyreadline==2.0
pytz==2014.10
reportlab==2.7
requests==2.1.0
selenium==2.40.0
simplejson==3.3.1
six==1.8.0
sqlparse==0.1.14
stevedore==1.1.0
urllib3==1.7.1
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
virtualenvwrapper-powershell==2.7.1
yolk==0.4.3
