{% extends "base.html" %}

{% block title %} | Password Reset{% endblock %}

{% block content %}

    <h1>Password reset</h1>
    
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one...for a price.</p>
    
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}


    <form action="" method="post">

        <table>
            {{ form.as_table }}
            
        </table>
        {% csrf_token %}
        <input type="submit" value="Reset my password">
    </form>
    

{% endblock %}